/*https://www.youtube.com/watch?v=0OWlr3D3wFA&t=0s*/
/*https://gradienthunt.com/*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100%;
    background-color: #ccc;
}

/*=========Propriedades ===========*/
/*
  display: flex; - Fica Lado a Lado 
  flex-direction: row; - Fica Lado a Lado
  flex-direction: column; -(Empilha) Fica um abaixo do outro

  Main Axis-> flex-direction:row - Horizontal
  Cross Axis-> flex-direction:column - Vertical
  
  justify-content: flex-start; - Alinha lado Esquerdo
  justify-content: flex-end; - Alinha ao Lado Direito
  justify-content: center; - Centraliza no meio do container
  justify-content: space-between; - Distribui os items (Geralmente usa-se no menu do site)
  justify-content: space-around; - Espaço com margim

  align-items: flex-start; - Alinha os items no inicio do container
  align-items: flex-end; - Alinha os items no final do container
  align-items: center; - Alinha os items no centro do container
  align-items: stretch; - Todos os itens cresce com o mesmo tamanho


   align-content: flex-start; - Alinha os items no inicio container
   align-content: flex-end; - Alinha os items no final do container
   align-content: center; - Alinha os items no centro do container

   flex-flow
   flex-flow: wrap; - Quebra a linha dos itens
   flex-flow: nowrap;  - Não permite a quebra de linha
   flex-flow: wrap-reverse; - Quebra a linha acima

   order: 1 - Altera a ordem dos items
   flex: 1 - Altera o tamanho do item.
   flex-basis: 33%;


*/

.container{
    
    width: 100%;
    height: 98vh;
    display: flex;
    flex-direction: row;   
}


.container .box1{
   
    order: 3;
    flex-basis: 33%;
}

.container .box2{
    order: 1;
    flex: 2;
}

.container .box3{
    order: 2;
    flex: 1;
}

/* =====Apenas nas divs=====*/
div{
    margin: 1px;
    width: 250px;
    height: 250px;
    padding: 2px;
    border: rgb(227, 243, 7) 5px solid;
    color: #fff;
    background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(14,174,87,1) 0%, rgba(12,116,117,1) 90% );
}






