*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#color1{
    background-color: rgb(5, 54, 38);
    width: 50px;
    height: 50px;
    font-size: 20px;
    text-align: center;
    padding: auto;
    justify-content: center;
    color: #fff;
    margin: 10px;
}

#color2{
    background-color: rgb(214, 65, 6);
    width: 50px;
    height: 50px;
    font-size: 20px;
    text-align: center;
    padding: auto;
    justify-content: center;
    color: #fff;
    margin: 10px;
}

#color3{
    background-color: rgb(11, 24, 141);
    width: 50px;
    height: 50px;
    font-size: 20px;
    text-align: center;
    padding: auto;
    justify-content: center;
    color: #fff;
    margin: 10px;
}




.flex-container{
    background-color:#ccc;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 200px;
}